<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Arimo|Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Brody Wilton</title>
</head>

<body>
  <div class="container-fluid">
    <section class="nav-section" id="nav">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand nav-item hidden-border" href="/">
          <img src="images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Brody Wilton
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon nav-button"></span>
        </button>

        <div class="nav-container collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link hidden-border" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hidden-border" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hidden-border" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
