<%- include('partials/header') -%>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="about-title">Hi, I'm Brody Wilton</h1>
        <p>I'm a 24 year old self-taught web developer from Bristol, UK.</p>
      </div>
      <div class="col-4">
        <img class="about-image" src="images/pic1.jpg" alt="Me and my girlfriend" width="90%" height="90%">
      </div>
    </div>
  </div>

<%- include('partials/footer') -%>
