<%- include('partials/header') -%>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="about-title">Who am I?</h1>
        <hr>
        <p>Hi, welcome to my website. My name is Brody and I'm a 24 year old self-taught web developer from Bristol, UK.</p>
        <p>For the past 12 months I've been teaching myself to code for web-development, front and back end. Along the way, I've picked up skills
        in a number of different language and frameworks.</p>

        <hr>
        <h3>Skills</h3>
        <hr>

        <div class="row">
          <div class="col-4">
            <h5>Languages</h5>
            <hr class="contact-hr">
            <p>HTML(5)</p>
            <p>CSS(3)</p>
            <p>JavaScript</p>
            <p>EJS & JSON</p>
          </div>
          <div class="col-4">
            <h5>Frameworks</h5>
            <hr class="contact-hr">
            <p>Bootstrap(4)</p>
            <p>Node.js</p>
            <p>Express.js</p>
            <p>jQuery</p>
            <p>MongoDB & Mongoose</p>
          </div>
          <div class="col-4">
            <h5>Tools/Utilities</h5>
            <hr class="contact-hr">
            <p>Git & GitHub project management</p>
            <p>NPM</p>
            <p>CLI/Terminal</p>
            <p>MacOS, Windows & Linux</p>
          </div>
        </div>

      </div>
      <div class="col-4">
        <img class="about-image" src="images/pic1.jpg" alt="Me and my girlfriend" width="90%" height="90%">
      </div>
    </div>

  </div>

<%- include('partials/footer') -%>
