<%- include('partials/header') -%>


<div class="container-fluid">
  <div class="row portfolio-title">
    <div class="col">
      <h1>What have I made?</h1>
      <hr class="contact-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="https://broodj.github.io/Cattr/" target="_blank">
          <img class="card-img img-responsive" src="images/cattr-img.png" alt="Startup landing page">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Cattr</h5>
              <h6>Startup landing page made with HTML/Bootstrap</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="https://github.com/broodj/blog" target="_blank">
          <img class="card-img img-responsive" src="images/blog-img.png" alt="Daily Journal">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Daily Journal</h5>
              <h6>A blogging site made with HTML/Bootstrap, JavaScript, node.js, express.js</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="https://peaceful-island-12949.herokuapp.com/" target="_blank">
          <img class="card-img img-responsive" src="images/newsletter-img.png" alt="Newsletter signup">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Newsletter Signup</h5>
              <h6>Mailchimp integrated, HTML/Bootstrap, JavaScript, node.js, express.js</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="https://matching.netlify.com/" target="_blank">
          <img class="card-img img-responsive" src="images/matching-img.png" alt="Matching game">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Matching Game</h5>
              <h6>A memory game written in JavaScript, HTML + CSS</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="https://artpixels.netlify.com/" target="_blank">
          <img class="card-img img-responsive" src="images/pixelart-img.png" alt="Pixel-art maker">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Pixel Art Maker</h5>
              <h6>Click the squares to make your art. HTML5, CSS + JavaScript</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="https://broodj.github.io/drumKit/" target="_blank">
          <img class="card-img img-responsive" src="images/drum-img.png" alt="Interactive drumkit">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Keyboard Drumkit</h5>
              <h6>An interactive drumkit written in JavaScript, HTML + CSS</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="https://broodj.github.io/dice/" target="_blank">
          <img class="card-img img-responsive" src="images/dice-img.png" alt="Dice website">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Dice simulator</h5>
              <h6>Roll the dice to decide your fate. Made with HTML/CSS and JavaScript</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="https://broodj.github.io/simonGame/" target="_blank">
          <img class="card-img img-responsive" src="images/simon-img.png" alt="Simon game">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Simon Game</h5>
              <h6>Click the colours in the correct order. Made with HTML/CSS and jQuery</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <a href="/" target="_blank">
          <img class="card-img img-responsive" src="images/emily-morter-188019-unsplash.jpg" alt="Photo by Emily Morter on Unsplash">
          <div class="overlay">
            <div class="overlay-text">
              <h5>Could this be us?</h5>
              <h6>I'm currently searching for a web development role within the industry. Could we work together?</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
<%- include('partials/footer') -%>
