<%- include('partials/header') -%>

<div class="container-fluid">
  <div class="row">
    <div class="col contact">
      <h1>What have I made?</h1>
      <p>This page is currently under development, please check my <a href="https://www.github.com/broodj">github</a> profile for all projects I've completed so far.</p>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
