body {
  margin: auto 0;
  text-align: center;
  min-height: 100vh;
  color: #393e46;
  background-color: #eeeeee;
  font-family: 'Arimo', sans-serif;
}

/* .container-fluid {
  padding-right: 0;
  padding-left: 0;
} */

.nav-link {
  letter-spacing: 1px;
  margin-left: 25px;
}

.hidden-border {
  border-bottom: 2px solid #eeeeee;
}

a:hover {
  color: #222831;
  border-bottom: 2px solid #d65a31;
}

/* home page */

.profile-img {
  margin-top: 25px;
  border-radius: 50%;
  width: 30%;
}

.profile-heading {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 25px;
}

.footer {
  padding-top: 80px;
}

.footer-text {
  font-size: 10px;
}


/* about page */

.about-title {
  margin-top: 50px;
}

.about-image {
  border-radius: 10%;
  margin: 50px 50px 0 0;
}

/* contact page */

.contact {
  margin-top: 50px;
}

.contact-hr {
  border-top: 1px solid black;
  width: 50%;
}

.location-map {
  margin-top: 50px;
  margin-right: 50px;
}

/* portfolio page */

.card {
  margin-top: 15px;
}

.card a {
  color: black;
}

.card a:hover {
  border-bottom: none;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d65a31;
}

.overlay-text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
